# Módulo 1

## Exercício 1

Faça um programa que peça um valor monetário e diminua-o em 15%. Seu 
programa deve imprimir a mensagem “O novo valor é [valor]”.

In [73]:
valor = float(input('Digite o valor monetário: '))
print(f'O novo valor é {valor*0.85} reais.')

Digite o valor monetário: 1500
O novo valor é 1275.0 reais.

## Exercício 2

Faça um programa que leia a validade das informações:
a. Idade: entre 0 e 150;
b. Salário: maior que 0;
c. Sexo: M, F ou Outro;
O programa deve imprimir uma mensagem de erro para cada informação 
inválida.

In [72]:
idade = int(input('Digite uma idade netre 0 e 150 anos: '))
while idade < 0 or idade > 150:
    print('Você digitou uma idade inválida, gostaria de tentar novamente?')
    resp = int(input('1 - Sim \n2 - Não\n'))
    if resp == 1:
        idade = int(input('Digite uma idade entre 0 e 150 anos: '))
    else:
        break
    
    
salario = float(input('Digite um valor de salário'))
while idade < 0 or idade > 150:
    print('Você digitou um salário inválido, gostaria de tentar novamente?')
    resp = int(input('1 - Sim \n2 - Não\n'))
    if resp == 1:
        salario = int(input('Digite um novo valor de salário: '))
    else:
        break

sexo = input('Digite seu sexo: \n M - Masculino \n F - Feminino \n O - Outro')
while idade < 0 or idade > 150:
    print('Você digitou um sexo inválido, gostaria de tentar novamente?')
    resp = int(input('1 - Sim \n2 - Não\n'))
    if resp == 1:
        sexo = int(input('Digite uma idade entre 0 e 150 anos: '))
    else:
        break
 
print(f'Você tem {idade} anos, recebe {salario} reais e é do sexo {sexo}.')

Digite uma idade netre 0 e 150 anos: 25
Digite um valor de salário2000
Digite seu sexo:
 M - Masculino
 F - Feminino
 O - OutroM
Você tem 25 anos, recebe 2000.0 reais e é do sexo M.

Imprima as chaves seguidas dos seus valores para dicionário criado no 
exercício anterior.
Exemplo:
Janeiro - 31
Fevereiro - 28
Março - 31
Etc..

## Exercício 3

3. Vamos fazer um programa para verificar quem é o assassino de um crime. 
Para descobrir o assassino, a polícia faz um pequeno questionário com 5 
perguntas onde a resposta só pode ser sim ou não:
a. Mora perto da vítima?
b. Já trabalhou com a vítima?
c. Telefonou para a vítima?
d. Esteve no local do crime?
e. Devia para a vítima?
Cada resposta sim dá um ponto para o suspeito. A polícia considera que os 
suspeitos com 5 pontos são os assassinos, com 4 a 3 pontos são cúmplices e 
2 pontos são apenas suspeitos, necessitando outras investigações. Valores 
iguais ou abaixo de 1 são liberados.

In [88]:
cont = []

print('-'*20)
p1 = int(input('a) Mora perto da vítima?\n0 - Não\n1 - Sim\n'))
cont.append(p1)
print('-'*20)
p2 = int(input('b) Já trabalhou com a vítima?\n0 - Não\n1 - Sim\n'))
cont.append(p2)
print('-'*20)
p3 = int(input('c) Telefonou para a vítima?\n0 - Não\n1 - Sim\n'))
cont.append(p3)
print('-'*20)
p4 = int(input('d) Esteve no local do crime?\n0 - Não\n1 - Sim\n'))
cont.append(p4)
print('-'*20)
p5 = int(input('e) Devia para a vítima?\n0 - Não\n1 - Sim\n'))
cont.append(p5)
print('-'*20)

soma = sum(cont)

if soma==5:
    print('Assassino')
elif soma==4 or soma==3:
    print('Cúmplice')
elif soma==2:
    print('Suspeito')
else:
    print('Liberado')

--------------------
a) Mora perto da vítima?
0 - Não
1 - Sim
1
--------------------
b) Já trabalhou com a vítima?
0 - Não
1 - Sim
1
--------------------
c) Telefonou para a vítima?
0 - Não
1 - Sim
1
--------------------
d) Esteve no local do crime?
0 - Não
1 - Sim
1
--------------------
e) Devia para a vítima?
0 - Não
1 - Sim
1
--------------------
Assassino

## Exercício 4

4. Faça um programa que imprima a tabuada do 9 (de 9X1 a 9X10) usando loops.

In [96]:
num = int(input('Digite o número que quer a tabuada: '))
i = 1
print('-'*20)
while i <= 10:
    print(f'{i} X {num} = {i*num}')
    i+=1
print('-'*20)

Digite o número que quer a tabuada: 9
--------------------
1 X 9 = 9
2 X 9 = 18
3 X 9 = 27
4 X 9 = 36
5 X 9 = 45
6 X 9 = 54
7 X 9 = 63
8 X 9 = 72
9 X 9 = 81
10 X 9 = 90
--------------------

# Módulo 2

## Exercício 1

Faça um programa que olhe todos os itens de uma lista e diga quantos deles 
são pares.

In [142]:
def pares(lista):
    cont = 0
    for i in range(0,len(lista)):
        if lista[i]%2==0:
            cont = cont + 1
    return print(f'Existem {cont} números pares na lista.')

In [143]:
pares([6,3,8,1,77,4])

Existem 3 números pares na lista.

## Exercício 2

Faça um programa que peça para o usuário digitar uma palavra e imprima 
cada letra em uma linha.

In [145]:
palavra = input('Digite uma palavra:')

for letra in palavra:
    print(letra)

Digite uma palavra:Física
F
í
s
i
c
a

## Exercício 3

Faça uma função que recebe duas listas e retorna a soma item a item dessas 
listas.
Exemplo: Se a função receber as listas [1,4,3] e [3,5,1], então a função deve 
retornar [1+3, 4+5, 3+1] = [4, 9, 4].

In [68]:
def soma(lista1,lista2):
    listasoma=[]
    max = min(len(lista1),len(lista2))
    
    for i in range(0,max):
        soma = lista1[i] + lista2[i]
        listasoma.append(soma)
    return listasoma

In [69]:
soma([1,4,3],[3,5,1])

[4, 9, 4]

## Exercício 4

Crie um dicionário cujas chaves são os meses do ano e os valores são a duração (em dias) de cada mês.

In [146]:
dic={'Janeiro':30,
    'Fevereiro':28,
    'Março':31,
    'Abril':29,
    'Maio':28,
    'Junho':30,
    'Julho':31,
    'Agosto':30,
    'Setembro':28,
    'Outubro':29,
    'Novembro':30,
    'Dezembro':31}

In [147]:
dic

{'Janeiro': 30,
 'Fevereiro': 28,
 'Março': 31,
 'Abril': 29,
 'Maio': 28,
 'Junho': 30,
 'Julho': 31,
 'Agosto': 30,
 'Setembro': 28,
 'Outubro': 29,
 'Novembro': 30,
 'Dezembro': 31}

## Exercício 5

Imprima as chaves seguidas dos seus valores para dicionário criado no 
exercício anterior.
Exemplo:
Janeiro - 31
Fevereiro - 28
Março - 31
Etc...

In [156]:
for chave in dic:
    print(f'{chave} - {dic[chave]}')

Janeiro - 30
Fevereiro - 28
Março - 31
Abril - 29
Maio - 28
Junho - 30
Julho - 31
Agosto - 30
Setembro - 28
Outubro - 29
Novembro - 30
Dezembro - 31

# Módulo 3 (Pandas)

## Exercício 1

 Neste exercício você deve criar um programa que abra o arquivo 
"alunos.csv" e imprima o conteúdo do arquivo linha a linha.
Note que esse é o primeiro exercício de uma sequência, então o seu código 
pode ser reaproveitado nos exercícios seguintes. Dito isso, a recomendação é 
usar a biblioteca CSV para ler o arquivo mesmo que não seja realmente 
necessário para esse primeiro item

In [158]:
import pandas as pd

In [159]:
df = pd.read_csv('alunos.csv')

In [160]:
df

       RA             Nome  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4
0  110201   Antonio Carlos          20      6.5      8.5      7.0        6
1  110212      Ana Beatriz          20      7.0      7.0      7.0        8
2  110218    Carlos Vernes          17      7.0      7.0      7.0        7
3  110307  Francisco Cunha          20      9.0      8.5      8.5       10
4  110275      Sandra Rosa          15      6.5      7.5      7.0        7
5  110281   Juliana Arruda          18      7.5      7.0      7.5        8
6  110301        Joao Galo          20      5.0      6.5      7.0        5
7  110263     José Valente          20     10.0     10.0     10.0       10
8  110271   Maria Ferreira          19      9.5      8.0      7.0       10
9  110236  Adriana Tavares          20      8.0      8.0      8.0        8

## Exercício 2

 Para o segundo exercício, você deve criar um programa que realize uma 
cópia do arquivo "alunos.csv". Essa cópia deve ser um arquivo chamado 
"alunos_copia.csv".
Novamente, aqui você também não precisa utilizar a biblioteca CSV mas se 
usar, seu código pode ser reutilizado na próxima questão sem muitas 
modificações.

In [161]:
alunos_copia = df.copy()

In [162]:
alunos_copia

       RA             Nome  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4
0  110201   Antonio Carlos          20      6.5      8.5      7.0        6
1  110212      Ana Beatriz          20      7.0      7.0      7.0        8
2  110218    Carlos Vernes          17      7.0      7.0      7.0        7
3  110307  Francisco Cunha          20      9.0      8.5      8.5       10
4  110275      Sandra Rosa          15      6.5      7.5      7.0        7
5  110281   Juliana Arruda          18      7.5      7.0      7.5        8
6  110301        Joao Galo          20      5.0      6.5      7.0        5
7  110263     José Valente          20     10.0     10.0     10.0       10
8  110271   Maria Ferreira          19      9.5      8.0      7.0       10
9  110236  Adriana Tavares          20      8.0      8.0      8.0        8

## Exercício 3

Finalmente chegamos ao último exercício dessa sequência relacionada à 
manipulação de arquivos.
Neste exercício você deve criar um novo arquivo chamado 
"alunos_media.csv". Esse novo arquivo é uma cópia de "alunos.csv" porém 
com uma coluna a mais chamada "Média" que vai abrigar os valores das 
médias das provas de cada aluno da lista.
Se você utilizou a biblioteca CSV para realizar os dois primeiros exercícios, 
muito será reaproveitado aqui. A biblioteca CSV permite a interpretação de 
cada linha como listas, que são fáceis de manipular.

In [165]:
alunos_copia['Media'] = round((df['Prova_1'] + df['Prova_2'] + df['Prova_3'] + df['Prova_4'])/4)

In [166]:
alunos_copia

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Media
0,110201,Antonio Carlos,20,6.5,8.5,7.0,6,7.0
1,110212,Ana Beatriz,20,7.0,7.0,7.0,8,7.0
2,110218,Carlos Vernes,17,7.0,7.0,7.0,7,7.0
3,110307,Francisco Cunha,20,9.0,8.5,8.5,10,9.0
4,110275,Sandra Rosa,15,6.5,7.5,7.0,7,7.0
5,110281,Juliana Arruda,18,7.5,7.0,7.5,8,8.0
6,110301,Joao Galo,20,5.0,6.5,7.0,5,6.0
7,110263,José Valente,20,10.0,10.0,10.0,10,10.0
8,110271,Maria Ferreira,19,9.5,8.0,7.0,10,9.0
9,110236,Adriana Tavares,20,8.0,8.0,8.0,8,8.0

## Exercício 4

Você conhece Star Wars? Se trata, obviamente, da famosa saga espacial 
criada por George Lucas em 1977 e que deu origem a símbolos do cinema e 
da cultura pop com o imponente vilão Darth Vader ou o simpático robô 
R2-D2. A ideia desse exercício é justamente extrair informações do 
personagem Darth Vader através de uma API de Star Wars chamada SWAPI.
Utilize a URL "https://swapi.dev/api/people/4/" para fazer a requisição dos 
dados de Darth Vader e extraia as informações "name" (nome), "height" 
(altura), "mass" (massa) e "birth_year" (ano de nascimento) e imprima cada 
dado em uma linha.
Dica: caso não se lembre de como fazer isso, assista novamente a aula sobre 
API porque o exemplo da aula pode te ajudar.

In [169]:
import requests as req

In [172]:
url = 'https://swapi.dev/api/people/4/'
resp = req.get(url)
print(resp)

<Response [200]>

In [175]:
df = resp.json()

In [186]:
info = ['name','height','mass','birth_year']

In [187]:
for key in info:
    print(df[key])

Darth Vader
202
136
41.9BBY

## Exercício 5

Em 2019 surgiram os primeiros casos de COVID-19 que se alastrou pelo 
mundo resultando numa pandemia. A proposta deste exercício é utilizar 
uma API com informações de COVID-19 do mundo todo desde o início da 
proliferação e descobrir que dia o Brasil confirmou o primeiro caso de 
Coronavírus.
Para fazer isso, utilize a URL "https://api.covid19api.com/country/brazil" em seu 
código. Ela retorna uma lista de dicionários, onde cada dicionário traz 
informações através das chaves:
"ID", "Country", "CountryCode", "Province", "City", 
"CityCode","Lat","Lon","Confirmed","Deaths", "Recovered", "Active" e "Date".
Utilize essas informações e retorne a data em que o Brasil confirmou o 
primeiro caso de COVID

In [203]:
import requests as req

In [204]:
url = 'https://api.covid19api.com/country/brazil'
resp = req.get(url)
print(resp)

<Response [200]>

In [205]:
df = resp.json()

In [215]:
i = 0

for i in range(0,len(df)):
    if df[i]['Confirmed'] == 1:
        data = df[i]['Date'][:10]
        print(f'O primeiro caso de COVID-19 no Brasil foi na data {data}.')
        break

O primeiro caso de COVID-19 no Brasil foi na data 2020-02-26.

# Módulo 3 (CSV)